/* -------- Sticky Footer -------- */

@font-face {
    font-family: 'amaticbold';
    src: url('../../fonts/amatic-bold-webfont.woff2') format('woff2'),
         url('../../fonts/amatic-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaysemibold';
    src: url('../../fonts/raleway-semibold-webfont.woff2') format('woff2'),
         url('../../fonts/raleway-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayextralight';
    src: url('../../fonts/raleway-extralight-webfont.woff2') format('woff2'),
         url('../../fonts/raleway-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaylight';
    src: url('../../fonts/raleway-light-webfont.woff2') format('woff2'),
         url('../../fonts/raleway-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 110px;

  h1 {
  	font-size: 80px !important;
  	font-family: 'amaticbold';
  }

  h2 {
  	font-family: 'ralewaysemibold';
  	font-size: 1.7em;
  }

  h3 {
  	font-family: 'ralewaysemibold';
  	margin-top: 40px;
  	font-size: 1.4em;
  }

  p {
  	font-family: 'ralewaylight';
  	font-size: 1.15em;
  	color: black;
  }
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 91px;
  background-color: #231f20;
}

/* -------- Sticky Footer END -------- */

/* -------- Custom Styling -------- */

h1, h2, h3, h4 {
	white-space: normal;
}

.container {
	/*padding-bottom: 50px;*/
}

footer {
	.row {

		.content-left {
			@media(max-width:@screen-xs-max){
				text-align: center;
			}

			@media(min-width:@screen-sm-min){
				text-align: left;
			}
		}

		.content-center {
			text-align: center;
		}

		.content-right {

			@media(max-width:@screen-xs-max){
				text-align: center;
			}

			@media(min-width:@screen-sm-min){
				text-align: right;
			}
		}
	}
}

.jumbotron {
	/*width: 100%;
	background: #ffffff url("../../img/bay-of-fires.jpg") no-repeat center center;*/

	@media(min-width:@screen-sm-min){
		margin-top: @header-height;
	}

	background: url(../../img/bay-of-fires.jpg) no-repeat center center;
	height: 450px;
	background-size:cover;
	padding-bottom: 0;

	.page-header{
		border: none;
	}

	.label {
		text-align: center;

		h1{
			margin-top: 100px;
		}
	}

	&.empty {
		height: 0;
		padding-top: 0;
		background: none !important;
	}
}

.teaser {
	> div {
		text-align: center;
		margin-bottom: 20px;
	}

	.teaser-image {
		width: 100%;
	}
}

.container.container-teaser {

	/*@media (min-width: @screen-sm-min){
	    width: 750px;
	}*/

	@media (min-width: @screen-md-min){
	    width: 900px;
	}

	@media (min-width: @screen-lg-min){
	    width: 1024px;
	}

	.teaser-image-container{
		position: relative;
	}

	.helper {
		display: inline-block;
	    height: 100%;
	    vertical-align: middle;
	}

	a {
		display:block;
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;

		.darkener, img, .teaser-text {
			opacity: 0;

			-o-transition:.5s;
			-ms-transition:.5s;
			-moz-transition:.5s;
			-webkit-transition:.5s;
			transition:.5s;
		}

		.darkener {
			display:inline-block;
			position:absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
		}

		img {
			position:absolute;
			display:inline-block;
			top:30%;
			left:36.5%;
			height:100%;
			vertical-align:
			middle;
			max-height: 40%;
			max-width: 40%;
		}

		.teaser-text {
			position:absolute;
			width: 100%;
			position: absolute;
			bottom: 20%;
			left: 0;
			color:white;
			font-size:20px;
		}
	}

	a:hover {
		.darkener {
			background: black;
			opacity: 0.5;
		}

		img, .teaser-text {
			opacity: 1;
		}
	}

	&.map {
		margin: 0;
		padding: 0;
		width: 100%;

		.row {
			margin: 0;
		}

		.col-md-12 {
			padding: 0;
		}

		#map-overview{
			@media(max-width:@screen-xs-max){
				margin-top: 20px;
				height: 815px !important;
			}

			margin-bottom: -20px;
		}
	}
}

.navbar-inverse {

	.navbar-nav {

		font-weight: bold;

		> .active{

			> a {
				color: #01b195;
				background: none;
			}

			> a:hover {
				color: #01b195;
				background: none;
			}

			> a:focus {
				color: #01b195;
				background: none;
			}
		}
	}
}

ul.nav a:hover { color: #01b195 !important; }

@media(min-width:@screen-sm-min){

	.navbar-inner {
    	min-height: 0px;
	}

	.navbar-brand,
	.navbar-nav li a {

	    line-height: @header-height;
	    height: @header-height;
	    padding-top: 10px;
	}
}

.blog-entry {

	.blog-cal {
		position: relative;
		left: -20px;
		width: 100%;
		max-width: 68px;
		margin-top: 20px;

		@media(max-width:@screen-sm-max){
			left: 0;
		}

	}

	.blog-map {
		position: relative;
		top: -100px;
		width: 100%;
	}
}

.polaroid-section {

	margin: 40px -5px;

	.col-sm-4 {
		padding-left: 5px;
		padding-right: 5px;
	}


	.polaroid-container {
		/*position: relative;*/

		.polaroid-background-container {

			position: relative;
			text-align: center;
			max-width: 300px;
			margin: 0 auto;

			img.polaroid-background {
				width: 100%;
			}

			img.polaroid-image {
				position: absolute;
				top: 0;
				left: 0;
				width: 90%;
				margin-left: 4%;
				margin-top: 5%;
			}
		}
	}
}

.grid {
	img {
		width: 100%;
		padding: 0 10px 0;
		/*padding-bottom: 20px;*/
		position: relative;
	}

	img.big {
		/*padding-bottom: 40px;*/
		/*padding-bottom: 0px;
		margin-bottom: 20px;*/
	}
}
.grid-sizer, .grid-item { 

	width: 25%;

	@media(max-width:@screen-sm-max){
		width: 50%;
	}
}
.grid-item {
	/*padding: 10px;*/
}
.grid-item--width2 { width: 50%; }
.grid-item--height2 { height: 200px; }
 
/* -------- Custom Styling END -------- */

