#home-gallery-teaser {

	position: relative;
	margin-bottom: 50px;

	.text-box {
		position: absolute;
		top: 0;
		left: 18%;
		width: 30%;

		@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
			top: -3%;
			left: 14%;
			width: 35%;
		}
	}

	.gallery-col-1 {
		padding-top: 36%;
	}

	.gallery-col-2 {
		padding-top: 19.8%;
	}

	.gallery-col-4 {
		padding-top: 10.8%;
	}

	.second-entry {
		padding-top: 10%;
	}

	img {
		width: 100%;
	}

	.col-xs-3 {
		padding-left: 1%;
		padding-right: 1%;
	}

	#button-container {

		position: relative;
		margin-top: 10%;
		margin-left: 5%;

		button {
			margin: 0;
		}

		#arrow {
			position: absolute;
		    top: 100%;
		    left: 25%;
		    width: 40%;
		}

		#click-teaser {
			position: absolute;
		    top: 60%;
		    left: 100%;
		    width: 200%;
		}
	}
}

.container-teaser {

	.home {
		padding-left: 0.9%;
		padding-right: 0.9%;
	}

	.teaser {
		margin-left: -5px;
		margin-right: -5px;
	}
}