#continent-map {

	height: 0;
	padding-top: 48%;
	position: relative;

	svg {
		position: absolute;
		top: 0;
		left: 0;
	}

	path {
		fill: #E6E6E6;

		&.has-entries {
			fill: #c1c0c0;
		}
	}

	.active {fill:#999 !important;}

	path.has-entries:hover, circle.has-entries:hover {

		fill: #999 !important;
		cursor: pointer;
	}

	@media(min-width:@screen-sm-min) {
		margin-top: 30px;
	}
}

#continent-map-filtering {

	margin-top: 40px;
	margin-bottom: 30px;

	#list-countries {

		button {
			display: inline-block;
			border: 1px solid black;
		    background: none;
		    padding: 10px 20px;
		    margin: 10px 5px;

		    &.active{
		    	background-color: #E6E6E6;
		    }

		    &:active, &:focus {
		    	outline: none;
		    }

			&:disabled {
				opacity: 0.4;
			}
		}
	}

}